@mixin ltr-rtl($property, $value) {
    padding-left: $value;
    [dir="rtl"] & {
        padding-right: $value;
    }
}

@mixin transition($properties) {
    transition: $properties;
    -webkit-transition: $properties;
    -moz-transition: $properties;
    -o-transition: $properties;
}